<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>ЧАТ</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
       <div id="container">
            <aside>
                <header>
                  <div class="search">
                    <input type="text" placeholder="Создать чат" id="room-name-input">
                    <a id="room-name-submit">GO</a>
                  <div>
                </header>
                <ul>
                    <li>
                      <a class = "button" id="room-students-submit">
                        <img>
                        <div class="button">
                          <h2>Students</h2>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class = "button" id="room-travell-submit">
                        <img>
                        <div class="button">
                          <h2>Travell</h2>
                        </div>
                      </a>
                    </li>
                </ul>
            </aside>
            <main>
              <header>
                <div>
                  <h2>{{room_name}}</h2>
                </div>
            </header>

      <ul id="chat">
        {% for m in messages %}
        <li class="you">
            <div class="entete">
                <span class="status green"></span>
                  <h2>{{m.username}}</h2>
            </div>
            <div class="triangle"></div>
            <div class="message">
                {{m.content}}
            </div>
        </li>
        {%endfor%}

      </ul>
      <footer>
        <input placeholder="Введите имя" id="chat-message-input" type="text"></input>
        <a id = "chat-message-submit">Подтвердить</a>
      </footer>
            </main>
          </body>


       {{ room_name|json_script:"json-roomname" }}
       {{ username|json_script:"json-username" }}

        <script>
            function scrollToBottom() {
                let objDiv = document.getElementById("chat");
                objDiv.scrollTop = objDiv.scrollHeight;
           }

            scrollToBottom();

            const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
            const userName = JSON.parse(document.getElementById('json-username').textContent);

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                console.log('onmessage');

                const data = JSON.parse(e.data);

                if ((data.message) && (data.username == userName)) {
                    document.querySelector('#chat').innerHTML += ( '<li class="you"><div class="entete"><span class="status green"></span><h2>'+ data.username + '</h2></div><div class="triangle"></div><div class="message">' + data.message +'</div></li>');
                }
                else if((data.username != userName)) {
                  document.querySelector('#chat').innerHTML += ( '<li class="you"><div class="entete"><span class="status green"></span><h2>'+ data.username + '</h2></div><div class="triangle"></div><div class="message">' + data.message +'</div></li>');
                }
                 else {
                    alert('The message is empty!');
                }

                scrollToBottom();
            };

            chatSocket.onclose = function(e) {
                console.log('The socket close unexpectadly');
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message,
                   'username': userName,
                   'room': roomName
               }));

                messageInputDom.value = '';
           };

            document.querySelector('#room-students-submit').onclick = function(e) {
                var roomName = 'Students';
                var userName = JSON.parse(document.getElementById('json-username').textContent);
                window.location.replace('/user/chat=' + roomName + '/username=' + userName);
            };
            document.querySelector('#room-travell-submit').onclick = function(e) {
                var roomName = 'Travell';
                var userName = JSON.parse(document.getElementById('json-username').textContent);
                window.location.replace('/user/chat=' + roomName + '/username=' + userName);
            };
            document.querySelector('#room-name-submit').onclick = function(e) {
                var roomName = document.querySelector('#room-name-input').value;
                var userName = JSON.parse(document.getElementById('json-username').textContent);
                window.location.replace('/user/chat=' + roomName + '/username=' + userName);
            };
        </script>
    </body>
</html>
